In [1]:
import pandas as pd

In [2]:
import requests, bs4

In [3]:
targetUrl = "https://en.wikipedia.org/wiki/Help:Table"

In [5]:
resp = requests.get(targetUrl)

In [6]:
resp.encoding = 'utf-8'

In [7]:
html = resp.text

In [10]:
bs = bs4.BeautifulSoup(html,'html.parser')

In [13]:
tabletag = bs.find(name="table", attrs = {"class":"wikitable", "style":"height:14em"})
#tabletag = bs.find("table",{"class":"wikitable", "style":"height:14em"}) 둘 다 같다.

In [15]:
tabletag.find("tr")

<tr>
<th>Left</th>
<th>Center</th>
<th>Right
</th></tr>

In [20]:
rows = tabletag.findAll("tr")
#findAll을 했기 때문에  tr태그를 리스트에 넣어 순서대로 한 row씩 받아온다!!!!

In [22]:
# 컬럼은 아직 받지 않았다. 이거 어떻게 구하지?
# 무작정 집어넣어도 일단 row가 4개라 일단 받아는 진다.

In [23]:
pd.DataFrame(rows)

C:\Users\SMART-05\Anaconda3\lib\site-packages\pandas\core\internals\construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

    0                   1   2                     3   4                      5
0  \n              [Left]  \n              [Center]  \n              [Right\n]
1  \n     [Top left cell]  \n     [Top center cell]  \n     [Top right cell\n]
2  \n  [Middle left cell]  \n  [Middle center cell]  \n  [Middle right cell\n]
3  \n  [Bottom left cell]  \n  [Bottom center cell]  \n  [Bottom right cell\n]

In [24]:
columns

NameError: name 'columns' is not defined