In [1]:
import pandas as pd

In [14]:
cList1 = ["서울강서","서울정수","분당"]
cList2 = ["값1","값2","값3"]

In [15]:
listDf = pd.DataFrame(zip(cList1, cList2), columns = ["대상캠퍼스","대상값"])

In [16]:
listDf

  대상캠퍼스 대상값
0  서울강서  값1
1  서울정수  값2
2    분당  값3

In [48]:
rowList1 = ["서울강서","값1"]
rowList2 = ["서울정수","값2"]
rowList3 = ["분당","값3"]

In [49]:
pdList = []

In [50]:
pdList.append(rowList1)
pdList.append(rowList2)
pdList.append(rowList3)

In [51]:
pdList

[['서울강서', '값1'], ['서울정수', '값2'], ['분당', '값3']]

In [52]:
pd.DataFrame(pdList)

      0   1
0  서울강서  값1
1  서울정수  값2
2    분당  값3

In [1]:
import pandas as pd
import requests
import bs4

In [2]:
#url 헷갈리지 않게 지정
targetUrl = "https://en.wikipedia.org/wiki/Help:Table"

In [3]:
resp = requests.get(targetUrl)

In [4]:
resp.encoding='utf-8'

In [5]:
html = resp.text

In [6]:
bs = bs4.BeautifulSoup(html,'html.parser')

In [7]:
tabletag = bs.find("table",{"class":"wikitable", "style":"height:14em"})

In [8]:
rows = tabletag.findAll("tr")

In [9]:
rows[0]

<tr>
<th>Left</th>
<th>Center</th>
<th>Right
</th></tr>

In [10]:
rows[0].findAll(["th","td"])

[<th>Left</th>,
 <th>Center</th>,
 <th>Right
 </th>]

In [14]:
columns[i].text

NameError: name 'columns' is not defined

In [ ]:
# columns

In [12]:
#전략
#전체를 담을 리스트
rowList = []

#컬럼을 담을 리스트
columnList = []

nameList = []

In [13]:
columnLen = len(columns)

NameError: name 'columns' is not defined

In [15]:
for j in range(0, len(rows)):
    columns = rows[j].findAll(["th","td"])
    for i in range(0, len(columns)):
       
        eachColumnValue = columns[i].text
        columnList.append(eachColumnValue)
        rowList.append(columnList)
        columnList = []

In [16]:
pdRowList=pd.DataFrame(rowList)

In [17]:
rowList[0]

['Left']

In [18]:
pdRowList

                      0
0                  Left
1                Center
2               Right\n
3         Top left cell
4       Top center cell
5      Top right cell\n
6      Middle left cell
7    Middle center cell
8   Middle right cell\n
9      Bottom left cell
10   Bottom center cell
11  Bottom right cell\n

In [36]:
columns

[<td>Bottom left cell</td>,
 <td>Bottom center cell</td>,
 <td>Bottom right cell
 </td>]

In [37]:
columnValue

'Bottom right cell'

In [38]:
nameList

['Left',
 'Center',
 'Right',
 'Left',
 'Center',
 'Right',
 'Left',
 'Center',
 'Right',
 'Left',
 'Center',
 'Right']

In [39]:
for j in range(0, len(rows)):
    columns = rows[j].findAll(["th","td"])
    columnLen = len(columns)

    for i in range(0, columnLen):
        if columns[i].name == "th":
            columnValue = columns[i].text.replace("\n","")
            nameList.append(columnValue)
        
            continue;
        else:
            columnValue = columns[i].text.replace("\n","")
            columnList.append(columnValue)
    rowList.append(columnList)
    columnList = []

In [40]:
pd.DataFrame(rowList[1:4], columns = nameList)

ValueError: 15 columns passed, passed data had 3 columns

In [34]:
rowList

[['Left', 'Center', 'Right'],
 ['Top left cell', 'Top center cell', 'Top right cell'],
 ['Middle left cell', 'Middle center cell', 'Middle right cell'],
 ['Bottom left cell', 'Bottom center cell', 'Bottom right cell']]