In [1]:
#필요한 라이브러리를 호출한다.
import pandas as pd
import requests
import bs4

In [2]:
testUrl = "https://sparkkorea.com/%ed%85%8c%ec%8a%a4%ed%8a%b8/"

In [3]:
resp = requests.get(testUrl)

In [4]:
htmlTest = resp.text

In [5]:
bs = bs4.BeautifulSoup(htmlTest, "html.parser")

In [6]:
tbodyTag = bs.find(name="tbody")

In [44]:
tbodyTag

<tbody>
<tr>
<td>101</td>
<td>김효관</td>
</tr>
<tr>
<td>102</td>
<td>이순신</td>
</tr>
<tr>
<td>103</td>
<td>김어진</td>
</tr>
</tbody>

In [45]:
theadTag = bs.find(name="thead")

In [47]:
thTag = theadTag.findAll(name="th")

In [57]:
FirstColumnList1 = []

In [58]:
for i in range(0,thTagLen):
    FirstColumnList1.append(thTag[i].text)

In [59]:
FirstColumnList1

['학번', '이름']

In [56]:
thTagLen = len(thTag)

In [54]:
thTag[0].text

'학번'

In [53]:
thTag[1].text

'이름'

In [8]:
tdTag = bs.findAll(name="td")

In [9]:
tdTag

[<td>101</td>,
 <td>김효관</td>,
 <td>102</td>,
 <td>이순신</td>,
 <td>103</td>,
 <td>김어진</td>]

In [10]:
tdTagLen = len(tdTag)

In [21]:
columnList1 = []
columnList2 = []

In [34]:
for i in range(0,tdTagLen,2):

    textTdTag = tdTag[i].text

    textTdTag

    columnList1.append(textTdTag)

    columnList1

In [22]:
for i in range(1,tdTagLen,2):

    textTdTag = tdTag[i].text

    textTdTag

    columnList2.append(textTdTag)

    columnList2

In [37]:
columnList2

['김효관', '이순신', '김어진']

In [35]:
columnList1

['101', '102', '103']

In [60]:
zipColumnList = pd.DataFrame(zip(columnList1,columnList2), columns=FirstColumnList1)

In [61]:
zipColumnList

    학번   이름
0  101  김효관
1  102  이순신
2  103  김어진